$main-color: silver;

body {
  background-color: $main-color;
}

.index {
  &__new-post, &__logout-button {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
  &__login-button {
    .root--authed & {
      display: none;
    }
  }
}

.view-post {
  &__comment-wrap {
    display: none;
    .root--authed & {
      display: block;
    }
  }
}
